.header{
    text-align: center;
    font-family: Garamond;
    color: white;
 }
  .img{
    text-align: center;
 }
     html
    {
    background-color: #ff7800 ;
 }
  .text{
    color: white;
 }
 
 h3{
    text-align: center;
 }